.cart-product-wrapper {
  max-width: 30rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: solid 1px #333333;

  h3 {
    font-size: 1.5rem;
    color: #333333;
  }

  h3:first-letter {
    text-transform: uppercase;
  }

  .input-wrapper {
    display: flex;
    align-items: center;
    gap: 3px;

    input {
      height: 1.5rem;
      width: 2rem;
      font-size: 1.5rem;
      text-align: center;
    }

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    button {
      width: 1.5rem;
      height: 1.5rem;
      display: grid;
      place-content: center;
      font-size: 1.2rem;
      cursor: pointer;
    }
  }
}