.home {
  color: #333333;
  margin-top: 5rem;
  margin-left: calc(min(8rem, 10vw));
  margin-right: calc(min(8rem, 10vw));

  h2 {
    font-size: 2rem;
  }

  p {
    font-size: 1.5rem;
    max-width: 60ch;
  }
}